@* Container pour les notifications toast - Déjà inclus dans _Layout.cshtml *@
@* Ce fichier est optionnel, peut être utilisé dans des vues spécifiques si besoin *@

<div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer">
    @* Les toasts seront ajoutés dynamiquement via JavaScript *@
</div>
